{{!This template builds the olapic modal window contents - product info }}


<a href="{{stream_product_url}}" ><img src="{{stream_product_image}}"/></a>
<div><h3>{{stream_name}}<h3></div>
<div>${{stream_product_price}}</div>
<div>TODO: figure out how to get # of colors from Olapic data, or use special handler on PDP to get this data</div>